@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Nunito:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Nunito:wght@300&family=Roboto&display=swap');
#text{
font-family: 'Cairo', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;

}
