
p{
    font-family: 'Cairo', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
font-size:18px;
}
.chart{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 25px;
    padding-left: 45px;
    margin-bottom: 40px;

}

  .chartTitle {
    margin-bottom: 40px;

  }
  .table1{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 25px;
    margin-top: 30px;

  }
  .chart2{
   
    padding: 0px;
    padding-top: 35px;
    margin-top: 30px;
    margin-right: 0px;
  }
  .contai{
    display: flex;
  }
.chart3{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 25px;
    padding-top: 35px;
    margin-top: 40px;
    margin-right: 20px;   
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Nunito:wght@300&family=Roboto&display=swap');
.chartTitle{
    font-family: 'Cairo', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    }
    #text{
        font-family: 'Cairo', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;

    }