@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Nunito:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Nunito:wght@300&family=Roboto&display=swap');
img {
    max-width: 5rem;
    height: 5rem;
}

a[_ngcontent-hxf-c175] {
    cursor: pointer;
}

a {
    color: #0084ba;
    text-decoration: none;
    background-color: transparent;
    margin-right: 15px;

    border-radius: 50% solid;
}

#hero {
    margin-bottom: 30px;
    width: 100%;

    height: 80vh;
    background: url("http://boursenews.fnh.ma/uploads/actualites/61e95bc5812cb_anp.jpeg") center center;
    background-size: cover;
    position: relative;
}

#hero .container {
    padding-top: 80px;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 60px 0 100px 40px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: 'Cairo', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
}
#text{
    font-family: 'Cairo', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
}

#hero .btn-get-started {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    list-style: none;
    text-decoration: none;
    
}

#hero .btn-get-started:hover {
    background: #009970;
    border: 2px solid #009970;

}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }

    #hero .container {
        padding-top: 60px;
    }

    #hero h1 {
        font-size: 32px;
        line-height: 36px;
    }
}