.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    flex: 1;
    margin: 0px 0px 20px;
    padding: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
   
   
  }
  
  .featuredTitle{
      font-size: 20px;
  }
  
  .featuredMoneyContainer{
      margin: 10px 0px;
      display: flex;
      align-items: center;
  }
  
  .featuredMoney{
      font-size: 30px;
      font-weight: 600;
  }
  
  .featuredMoneyRate{
      display: flex;
      align-items: center;
      margin-left: 20px;
  }
  
  .featuredIcon{
      font-size: 14px;
      margin-left: 5px;
      color: green;
  }
  
  
  
  .featuredSub{
      font-size: 15px;
      color: gray;
  }
  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Nunito:wght@300&family=Roboto&display=swap');
  h5{
   text-align: center;
   margin-bottom: 40px;
   font-family: 'Cairo', sans-serif;
   font-family: 'Nunito', sans-serif;
   font-family: 'Roboto', sans-serif;
  }